body {
   background-image: linear-gradient(-90deg, red, yellow);
   color: green;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
  background-color: #2196F3;
  display;flex;
  justify-content: center;
  align-items: center;
  align-items: center;

}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.1em solid rgba(0, 0, 0, 0.8);
  padding: 2.7em;
  font-size: 2em;
}

.grid-item:hover {
  background-color:yellow;
}
.dropdown-menu {
  position: relative;
  font-size: 0.7em;
  text-align: center;
  visibility: hidden;

}
.main-text {
  position: absolute;
  text-align: center;
}

/* Stuff for Outcome Page */
.content {
  text-align: left;
  margin: 0 auto;
}
.page h1 {
  text-align: center;
  font-family: fantasy;
}
/* Stuff for Video Page and other table stuff */
#video-template-page h1
{
  text-align: center;
}
table, th, td {
  border: 2px solid green;
  padding: 5em;
}
table {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;

}

.grid-item:hover .main-text
{
  visibility:hidden;
}
.grid-item:hover .dropdown-menu
{
  visibility:visible;
}
#Motion {
  padding: 1em 2.5em;
}
#scientific-methods {
  padding: 1em 0.5em;
}
#Forces {
  padding: 1em 2.5em;
}
#Waves {
  padding: 1em 2.5em;
}
#Thermal-Energy {
  padding: 1em 0.7em;
}
#Charge {
  padding: 1em 2.5em;
}
#Properties {
  padding: 1em 2.2em;
}
#Mechanical-Energy {
  padding: 1em 0.4em;
}
#Elements {
  padding: 1em 2.1em;
}
#Composition {
  padding: 1em 1.6em;
}
#Bonding {
  padding: 1em 2.2em;
}
#Reactions {
  padding: 1em 2.2em;
}
#Water {
  padding: 1em 2.5em;
}
