
.icon-back:before { content: '\e800'; } /* '' */
.icon-video:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-eq:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */